<h2> Hello I am <%= @owner %>, and welcome! </h2>

<p>
<%= link_to image_tag('fb_icon.png', height: '30', width: '30', hspace: '5'), 'https://www.facebook.com/profile.php?id=100005028880107' %>
<%= link_to image_tag('gg_icon.png', height: '30', width: '30', hspace: '5'), 'https://www.google.com/' %>
<%= link_to image_tag('linkedin_icon.png', height: '30', width: '30', hspace: '5'), 'https://www.linkedin.com/in/yue-janice-zheng/' %>
</p>

