// Place all the styles related to the Greeting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
html { 
  background: asset-data-url('background-image.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

div {
	background-image: asset-data-url('background_image1.jpeg');
	//background-color: lightblue;
	background-size:100% 100%;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


.contact-icon {
	max-height: 30px;
	max-width: 100px;
	margin-right: 5px;
}


ul {
    list-style-type: none;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    margin-top: 0px;
}

li {
    display: block;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

li.active {
    background-color: #0abab5;
    color: white;
}

li:hover:not(.active) {
    background-color: #555;
    color: white;
}
